name: CI + Docs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      # - name: Check formatting with rustfmt
      #   run: cargo fmt --all -- --check

      # - name: Run Clippy (lint)
      #   run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test --verbose
  build-docs:
    needs: build-test
    -run: cargo doc
    -name: Upload artifact
    uses: actions/upload-pages-artifact@v3
    with:
      path: "target/docs"    
  deploy-docs:
    environment: github-pages
    url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4